.App {
  font-family: sans-serif;
  text-align: center;
  margin: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.imageContainer {
  display : flex;
  height: 80%;
  width : 50%;
  margin-top: 10px;
  padding: 10px; 
  justify-content: center;
  margin-left: 10px;
}

.selectedImage {
  height: 50%;
  width : 50%;
  margin-top: 10px;
  padding: 10px;
}

.imageDesc {
  margin-top: 25px;
  font-weight: bolder;
}
